input:focus{
    outline: none;
    box-shadow: none;
    border: none;
}
.search_input{
    color: rgb(182, 186, 214);
}


::-webkit-scrollbar{
    width: 2px;
    transition: all 10ms;
}

::-webkit-scrollbar-thumb:hover  ::-webkit-scrollbar{
    width: 10px;
} 
::-webkit-scrollbar-track{

}
::-webkit-scrollbar-thumb{
    background: rgb(75, 75, 75);
    cursor: pointer;
    border-radius: 10px;
}